<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render partial: 'form' %>
    </div>
    <div class="col">
      <%= render partial: 'calculators/chart' %>
    </div>
  </div>
</div>