<%# frozen_string_literal: true %>

<li class='nav-item'><%= link_to 'Dynamic calculator', dynamic_calculators_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'DB calculator', calculators_path, class: 'nav-link' %></li>